@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #fdfbf3;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}

/* header class */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fdfbf3;
    z-index: 1000;
   
}

.title{
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}
.title:hover{
    color:#a55b2a; ;
}
.name{
    border-right: 2px solid #000;
   
}
.name2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-left: 2px solid #000;
}

/* for main componenet */
.main-component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-componenet{
 width: 60%;
 border-right: 2px solid #000;
 height: 100vh;
 
}

.right-component{
    width: 40%;
    height: 100vh;
    background-image: url("./assets/IMG_20231119_232729.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* for chips */
.chip-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    
}

.chips{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding:0.35rem  1rem;
  border: 2px solid #000;
  width: 100px;
  min-width: 100px;
  border-radius: 4rem;
  cursor: pointer;
}
.chips:hover{
    background-color: #000;
    color: #fdf8f3;
    border-color: #fdfbf3;
    transition: 0.3s;

}

.main-text{
    font-size: 24px;
    font-weight: 700;

}

.para-text,
.list{
    font-size: 24px;
    font-weight: 500;
}

.main-info{
    border-bottom: 2px solid #000;
    padding: 1.5rem;
   margin-top: 4rem;
}
.education{
    border-bottom: 2px solid #000;
    padding: 1.5rem;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: chocolate;
    text-decoration: underline;
    transition: all 0.1s;
}
.social-work{
    border-bottom: 2px solid #000;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-flex{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    
}
.social-img{
    border: 2px solid #000;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-img:hover{
    transition: all 0.1s;
    transform: scale(1.1);
    cursor: pointer;
}

@media only screen and (max-width: 1150px){
    .right-component,.left-componenet{
        width: 50%;
    }
}

@media only screen and (max-width: 800px){
    .main-component{
        flex-direction: column-reverse;
    }
    .right-component,.left-componenet{
        width: 100%;
    }

    .chips{
        font-size: 15px;
        min-width: 0px !important;
      }
      .main-info{
        margin-top: 0rem;
      }
      .social-flex{
        gap: 1rem;
      }
      .name,.name2{
        border: none;
      }
      .name2 h1{
        display: none;
      }
      .para-text,
        .list{
        font-size: 20px;
        font-weight: 500;
        }
        .main-info,.education,.social-work{
            padding: 1rem;
        }

}

